<section class="instagram">
  <h2>Bizi Instagram'da Takip Edin</h2>
  <div class="insta-gallery">
    <img
      src="https://images.unsplash.com/photo-1542764824-4cdbd6c92dbe?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGJyaWRlfGVufDB8fDB8fHww"
      alt="Instagram 1"
    />
    <img
      src="https://images.unsplash.com/photo-1525258946800-98cfd641d0de?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjF8fGJyaWRlfGVufDB8fDB8fHww"
      alt="Instagram 2"
    />
  </div>
  <a href="#" class="btn">Instagram'da Takip Et</a>
</section>
