<section class="map">
  <h2>Bizi Burada Bulabilirsiniz</h2>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3046.7776142228616!2d26.6317242!3d40.8542772!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b3c78e8bdde787%3A0xa3cd57e128b5e62b!2sSe%C3%A7il%20Gelinlik%20Ke%C5%9Fan!5e0!3m2!1str!2str!4v1694377000000!5m2!1str!2str"
    width="70%"
    height="400"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
